#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Ubuntu";
  text-align: center;
}

@media screen and (max-width: 776px) {
  #root {
    padding: 0rem;
    width: 100%;
  }
}